{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Login{% endblock %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div id="login" class="card-body">
				<form method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<input type="hidden" name="next" value="{{ next }}">
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Não tem uma conta?<a href="http://localhost:8000/accounts/register">Cadastre-se</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}