{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Cadastro{% endblock %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<div class="form-group">
						<input type="submit" value="Cadastrar" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Já possui uma conta?<a href="http://localhost:8000/accounts/login/">Conecte-se</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}