@import url('https://fonts.googleapis.com/css?family=Numans');


html, body{
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-color: turquoise;
    }

.container{
    height: 100%;
    align-content: center;
    }
    
.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

    .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgb(2, 46, 39));
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    margin-bottom: 2%;
    background-color:rgba(0,0,0,0.5);
}
.form-control{
    border-radius:1.5rem;
}

.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #000203;
    color: #fff;
}

/* Aqui vai ficar as coisas do menu */

#permissao {
    text-align: center;
}

#start {
    color: black;
    background-color: #FFC312;
    border-radius: 10px;
    width: 100px;
}

#aviso {
    color: black;
}

#calculator, #bemvindo, #buscando, #anotacao, #leitor, #calculator2, #bemvindo2, #buscando2, #anotacao2, #leitor2{
    border: none;
    margin: 0 15px;
    color:black;
    font-size: 70px;
    cursor: pointer;
}

#menu {
    margin-top: 15%;
    height: auto !important;
    align-content: center;
    text-align: center;
}

/* navbar */

#navajuda, #navmenu, #navsobre, #saindo {
    color: #FFC312;
    font-size: 20px;
}

#logotipo {
    font-family: 'Yellowtail', cursive;
    color: #FFC312;
    font-size: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey !important;
    color: white;
    text-align: center;
  }

/* Botao adicionar */
#add-link {
    text-decoration: none;
}
.add-div {
    background-color: #FFC312;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color:black;
    margin-right: 10px;
    margin-left: 5px;
}
/* Lista de tarefas */

#note-save {
    background-color: #FFC312;
}

.list-div {
    padding: 0;
}

.anotacao-list {
    padding-left: 0;
}

.anotacao-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #cccccc;
}

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}
.fas.fa-trash {
    color: #db1e47;
}
.fas.fas.fa-edit {
    color: #13c43f;
}