body{
    height: 50%;
    font-family: 'Numans', sans-serif;
    background-color: turquoise;
}
#container{
	width: 1000px;
	height: 550px;
	background-color: turquoise;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#output-text{
	width: 250px;
	height: 120px;
	float: left;
}
#microphone{
	height: 30px;
	width: 30px;
	float: right;
	background-image: url(mic_icon.png);
	background-size: 100% 110%;
	border-radius: 80%;
	margin: 20px;
	margin-top: 45px;
}
.record{	
	animation: microphone-animation 1.5s infinite;
}
@Keyframes microphone-animation{
	0%{
		transform: scale(0.9);
	}
	70%{
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0,148,255,0.4);
		
	}
	100%{
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0,148,255,0);
	}
}
.tooltip{
	width: 300px;
	font-size: 12px;
	position: absolute;
	background-color: #dddddd;
	color: #636363;
	padding: 10px;
	top: 45px;
	transform: translateX(50px);
	border-radius: 5px;
	visibility: hidden;
}
.tooltip::before{
	content: '';
	position: absolute;
	border-width: 6px;
	border-style: solid;
	border-color:transparent #dddddd transparent transparent;
	left: 0;
	margin-left: -10px;
}
#output-microphone:hover .tooltip{
	visibility: visible;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 22px;
}
.number{
	background-color: #eff3f5;
	border-radius: 100%;
	border-color: #9aadaa;
	border-width: 1;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 20px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 25px;
	background-color: #ffc312;
}
button:nth-child(8){
	font-size: 25px;
	background-color: #ffc312;
}
button:nth-child(12){
	font-size: 30px;
	background-color: #ffc312;
}
button:nth-child(16){
	font-size: 25px;
	background-color: #ffc312;
}
button:nth-child(20){
	font-size: 25px;
	background-color: #20b2aa;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey !important;
    color: white;
    text-align: center;
  }