{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Anotações</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body onload="start()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a id="logotipo" class="navbar-brand" href="http://localhost:8000/menu">Apolo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a id="navmenu" class="nav-link" href="http://localhost:8000/menu">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a id="navajuda" class="nav-link" href="http://localhost:8000/ajuda/">Ajuda</a>
              </li>
              <li class="nav-item active">
                <a id="navsobre" class="nav-link" href="http://localhost:8000/sobre">Sobre</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a id="saindo" class="btn" href="http://localhost:8000/accounts/login"><i class="fas fa-sign-out-alt"></i></a>
            </form>
          </div>
    
    </nav>
    <div class="offset-1 col-10 list-div">
      <h1>Lista de Anotações</h1>
      <a id="add-link" href="http://localhost:8000/newnote/">
        <div class="col-2 add-div">
          <i class="fas fa-plus"></i> Adicionar Note
        </div>
      </a>
        <ul class="anotacao-list">
            {% for note in notes %}
            <li class="anotacao-item">
              <span><a href="/notes/{{note.titulo}}">{{note.titulo}}</a></span>
              <a href="delete/{{note.titulo}}"><span><i class="fas fa-trash"></i></span></a>
              <a href="edit/{{note.titulo}}"><span><i class="fas fa-edit"></i></span></a>
            </li>
            {% endfor %}
        </ul>

    </div>
    <footer class="footer">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> CorpseParty</a>
      </div>
    </footer>
    <script src="{% static 'js/menuAnotacao.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>