{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body onload="start()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a id="logotipo" class="navbar-brand" href="http://localhost:8000/menu">Apolo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a id="navmenu" class="nav-link" href="http://localhost:8000/menu">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a id="navajuda" class="nav-link" href="http://localhost:8000/ajuda/">Ajuda</a>
              </li>
              <li class="nav-item active">
                <a id="navsobre" class="nav-link" href="http://localhost:8000/sobre">Sobre</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a id="saindo" class="btn" href="http://localhost:8000/accounts/login"><i class="fas fa-sign-out-alt"></i></a>
            </form>
          </div>

      </nav>
    <div class="d-flex justify-content-center">
        <div id="menu" class="container">
            <h1><b>Apolo Task Helper</b></h1>
            <div id="quadro" class="justify-content-center border border-dark rounded">
                <p id="aviso">
                    Apolo é composto por diversos comandos de voz, e nessa tela você pode testar todos eles. <br />
                    Caso necessário apenas diga "Menu" para voltar pra tela inicial e então diga "Ajuda" para voltar nessa tela! <br />
                    Vamos então listar os possiveis comandos da nossa aplicação: <br />
                    <br />
                    <br />
                    <b>Menu:</b> Retorna ao menu principal! <br />
                    <br />
                    <b>Ajuda:</b> Abre a página com a lista de comandos do assistente Apolo! <br />
                    <br />
                    <b>Sobre:</b> Abre a página com informações de Apolo e seus Desenvolvedores. <br />
                    <br />
                    <b>Sair:</b> Termina sua sessão no Apolo e volta pra página de login. <i class="fas fa-sign-out-alt"></i> <br />
                    <br />
                    <b>Abrir (nome do site):</b> Abre uma nova aba com o site especificado. Vamos tentar? Diga "Abrir Youtube!". <br />
                    <br />
                    <b>Buscar por (objeto da busca):</b> Abre uma página do google com a pesquisa pedida. Tente dizer "Buscar por Fatec". <br />
                    <br />
                    <b>Buscar artigos (objeto da busca:</b> Visando ajudar nos seus estudos esse comando pesquisa artigos no google acadêmico. <br />
                    <b>Os comandos de busca no Apolo são representados pelo icone: <i class="fab fa-google"></i></b><br />
                    <br />
                    <b>Fechar:</b> Comando fecha todas as páginas, sendo site ou google, que você abriu pelos comandos <br /> 
                    <b>(Importante: só funciona com a última página aberta por cada comando)</b><br />
                    <br />
                    <br />
                    <b>Saudação:</b>Esse comando só funciona no menu principal, ele te redireciona pra página de alterar saudação onde você precisa dizer "alterar para" + frase e salvar pra salvar a frase.  <i class="fas fa-volume-up"></i><br />
                    <br />
                    <br />
                    <b>Calculadora:</b> Esse comando te leva para a página da calculadora que também funciona por comando de voz!  <i class="fas fa-calculator"></i><br />
                    <br />
                    <br />
                    <b>Anotações:</b> Esse comando te leva para a página de anotações onde é possível criar notas, alterar notas, ou rever notas. <i class="far fa-clipboard"></i> <br />
                    <b>Menu de Anotações:</b> Após o comando "Anotações", você se depara com esse menu que tem os seguintes comandos:<br />
                    <b>Nova anotação:</b> Abre a página para criação de nova anotação. <br />
                    <br />
                    <p>Para preencher o campus Titulo utilize o comando "titulo (conteúdo)" para especificar o titulo.</p><br />
                    <p>Para preencher o campus Anotação utilize os comandos "anotar (conteúdo)" para preencher a anotação.</p><br />
                    <p>Salvar, para salvar a nota no seu perfil.</p><br />
                    <b>IMPORTANTE: O título deve ser único!</b><br />
                    <br />
                    <b>Deletar (titulo da anotação):</b> Deleta uma anotação salva usando seu titulo. <br />
                    <b>Abrir Anotação (Titulo):</b> Abre a anotação especificada pelo titulo. <br />
                    <br />
                    <br />
                    <b>Leitor:</b> Esse comando te leva para a página do leitor, nele é possivel escolher um arquivo de texto para que Apolo leia-o em voz alta. <i class="fas fa-book-reader"></i> <br />
                    <br />
                    <br />
                    <b>Sugestão de filme:</b> Apolo faz uma recomendação de filme.
                    <br />
                    <br />
                    <br />
                    <br />
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a> CorpseParty</a>
        </div>
      </footer>
    <script src="{% static 'js/audio2.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>