{% load static %}
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style2.css' %}">
		
		<title> Calculadora por Voz </title>
	</head>
	<body onload="startonLoad()">
		<div id="container">
			<div id="calculator">
				<div id="result">
					<div id="output-text">
						<div id="history">
							<p id="history-value"></p>
						</div>
						<div id="output">
							<p id="output-value"></p>
						</div>
					</div>
					<div id="output-microphone">
						<span id="microphone">
						</span>
						<span class="tooltip"><big><b>Comandos</b></big><br><br> 
						As operações seguem os comandos: 'Mais', 'Menos', 'Vezes', 'Dividido por' e 'Porcento'.<br><br>
						<b>Lembre-se</b><br>
						Você deve falar: <b>número + operação + número</b><br><br>
						<i>Ex:</i><br> 2 vezes 5 <br>
						347 menos 139
						</span>
					</div>
				</div>
				<div id="keyboard">
					<button class="operator" id="clear">C</button>
					<button class="operator" id="backspace">CE</button>
					<button class="operator" id="%">%</button>
					<button class="operator" id="/">&#247;</button>
					<button class="number" id="7">7</button>
					<button class="number" id="8">8</button>
					<button class="number" id="9">9</button>
					<button class="operator" id="*">&times;</button>
					<button class="number" id="4">4</button>
					<button class="number" id="5">5</button>
					<button class="number" id="6">6</button>
					<button class="operator" id="-">-</button>
					<button class="number" id="1">1</button>
					<button class="number" id="2">2</button>
					<button class="number" id="3">3</button>
					<button class="operator" id="+">+</button>
					<button class="empty" id="empty"></button>
					<button class="number" id="0">0</button>
					<button class="empty" id="empty"></button>
					<button class="operator" id="=">=</button>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="footer-copyright text-center py-3">© 2020 Copyright:
			  <a> CorpseParty</a>
			</div>
		  </footer>
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>