{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Menu{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a id="logotipo" class="navbar-brand" href="http://localhost:8000/menu">Apolo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a id="navmenu" class="nav-link" href="http://localhost:8000/menu">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a id="navajuda" class="nav-link" href="http://localhost:8000/ajuda/">Ajuda</a>
          </li>
          <li class="nav-item active">
            <a id="navsobre" class="nav-link" href="http://localhost:8000/sobre">Sobre</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a id="saindo" class="btn" href="http://localhost:8000/accounts/login"><i class="fas fa-sign-out-alt"></i></a>
        </form>
      </div>

  </nav>
<div class="d-flex justify-content-center h-100">
    <div id="menu" class="container">
        <div>
            <p id="aviso">
                Clique no botão para habilitar o comando de voz!<br />
                Caso precise de orientações, diga "Ajuda", logo após a mensagem de boas vindas!
            </p>
            <p id="saudar">{{saudacao.phrase}}</p>
            <p id="filme"></p>
            <button id="bemvindo" class="btn"><i class="fas fa-volume-up"></i></button>
            <button id="calculator" class="btn"><i class="fas fa-calculator"></i></button>
            <button id="buscando" class="btn"><i class="fab fa-google"></i></button>
            <button id="anotacao" class="btn"><i class="far fa-clipboard"></i></button>
            <button id="leitor" class="btn"><i class="fas fa-book-reader"></i></button>
            <div id="permissao">
                <button id="start" type="button" onclick="welcomeMsg();dismissButton()">Permitir</button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> CorpseParty</a>
  </div>
</footer>
{% endblock %}